@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0px 25% 0px 25%;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}
.hero {
    background-image: url(../images/apple-pie.jpg);
    height: 50%;
    background-position: center;
}
.hero-text{
  text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 5px 30px 5px; 
  width: 300px;
  height: auto;
  
}
.centerContent {
  text-align: justify;
  padding: 5px 40px 5px 40px;
  border-bottom: solid 1px;
}

.directions {
  border-top: solid 1px;
}